%table(width="100%" bgcolor="#f1f1f1")
  %tr
    %td(style="padding-top: 17px;")
      %table(border="0" cellpadding="0" cellspacing="0" width="600px" align="center")
        %tr
          %td
            %table(border="0" cellpadding="0" cellspacing="0" width="100%")
              %tr
                %td(height="175" bgcolor="#364b61" style="text-align: center; padding: 51px 20px 30px;")
                  = image_tag attachments['email_maplify_logo.png'].url, width: "276", height: "94", alt: "Maplify - Your life on a map"
        %tr
          %td(bgcolor="#fff" style="padding: 45px 55px 15px;")
            %table(border="0" cellpadding="0" cellspacing="0" width="100%")
              %tr
                %td(style="vertical-align: middle; font-family: OpenSans, Arial, sans-serif; font-size: 28px; font-weight: bold; color: #212121; padding-bottom: 15px; text-align: center;")
                  = t(:title, scope: [:mailer, :reset_password])
              %tr
                %td(style="vertical-align: middle; font-family: OpenSans, Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: normal; color: #212121; padding-bottom: 25px;")
                  = t(:request, scope: [:mailer, :reset_password])
                  %br
                  = t(:change, scope: [:mailer, :reset_password])
                  = link_to t(:link_title, scope: [:mailer, :reset_password]), edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s).html_safe, style: "color: #35afff; text-decoration: underline; font-size: inherit; font-family: inherit;"
              %tr
                %td(style="vertical-align: middle; font-family: OpenSans, Arial, sans-serif; font-size: 16px; line-height: 24px; font-weight: normal; color: #212121; padding-bottom: 25px;")
                  = t(:error_request, scope: [:mailer, :reset_password])
                  %br
                  = t(:expired, scope: [:mailer, :reset_password])
              %tr
                %td(style="text-align: center; padding-top: 30px; padding-bottom: 30px;")
                  %table(border="0" cellpadding="0" cellspacing="0" align="center")
                    %tr
                      %td(style="padding: 0 10px 10px;")
                        %a(href="#")
                          = image_tag attachments['email_fb.png'].url, width: "10", height: "18", alt: "Facebook"
                      %td(style="padding: 0 10px 10px;")
                        %a(href="#")
                          = image_tag attachments['email_instagram.png'].url, width: "16", height: "17", alt: "Instagram"
                      %td(style="padding: 0 10px 10px;")
                        %a(href="#")
                          = image_tag attachments['email_tw.png'].url, width: "16", height: "13", alt: "Twitter"
                      %td(style="padding: 0 10px 10px;")
                        %a(href="#")
                          = image_tag attachments['email_yt.png'].url, width: "19", height: "13", alt: "Youtube"
        %tr
          %td
            %table(border="0" cellpadding="0" cellspacing="0" width="100%")
              %tr
                %td(style="padding-top: 15px;")
                  %table(border="0" cellpadding="0" cellspacing="0" width="100%")
                    %tr
                      %td(style="font-family: OpenSans, Arial, sans-serif; font-size: 12px; color: #212121; padding-bottom: 15px; text-align: center;")
                        = t(:secure, scope: [:mailer, :layout])
                    %tr
                      %td(style="font-family: OpenSans, Arial, sans-serif; font-size: 12px; color: #212121; padding-bottom: 15px; text-align: center;")
                        = t(:copyright, scope: [:mailer, :layout])
